/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body {
	position:relative;
	height:500px;
}

#hangman {
	position:relative;
	width:600px;
	height:400px;
	margin:0px auto;
	margin-top:50px!important;
	border:1px solid black;
}

#inner-top {
	position:absolute;
	width:600px;
	height:50px;
	top:0;
	left:0;
	right:0;
	border-bottom:1px solid black;
	text-align:center;
}

.title {
	font-size:20px;
	margin-top:15px;
}

.instructions {
	margin:5px;
	text-align:center;
}

#inner-left {
	position:absolute;
	width:270px;
	height:350px;
	bottom:0;
	left:0;
	border-right:1px solid black;
}

#hanging-man {
	margin:15px;
	width:240px;
	height:320px;
	border:1px solid black;
}

#inner-right {
	position:absolute;
	width:330px;
	height:350px;
	bottom:0;
	right:0;
}

#game-menu {
	margin:15px;
	width:300px;
	height:160px;
}

#keyboard {
	margin:15px;
	width:300px;
	height:140px;
}

.clear {
	clear:both;
}